<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 side-margin" id="sidebar">
  <div class="sidebar-fixed">
    <ul class="with-divider">
      <li>
        <a href="/items"><span><i class="fa fa-file"></i>Items</span></a>
      </li>
      <li>
        <a href="/categories"><span><i class="fa fa-file"></i>Categories</span></a>
      </li>
      <li>
        <a href="/statuses"><span><i class="fa fa-file"></i>Status</span></a>
      </li>
      <li>
        <a href="/units"><span><i class="fa fa-file"></i>Units</span></a>
      </li>
    </ul>
  </div>
</div>
