  <div class="view-form-title">
    <h3>View Item</h3>
    <p></p>
    <div class="view-fields">
      <%= render "viewItemForm" %>
    </div>
  </div>
<!--
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %> -->
