<div class="update-form-title">
  <h3>Update Category</h3>
  <p>You can update the category here.</p>
  <div class="update-fields">
    <%= render 'updateCategoryForm', category: @category %>
  </div>
</div>
<!-- <%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %> -->
